html {
    background: rgb(14, 19, 29);
}

.prediction-container {
    margin: 0 auto;
    margin-top: 90px;
    width: 100%;
    height: 1400px;
    min-width: 500px;
    max-width: 1280px;
    transition: width .5s;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}


#predict {
    width: 444px;
    height: 400px;
    /* background-image: url("../images/predictor/orb-body.png"); */
    z-index: 100;
    overflow: hidden;
    pointer-events: none;
    /* margin: 0 auto; */
}

#result-display {
    position: absolute;
    width: 400px;
    height: 200px;
    margin-left: 22px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    overflow: hidden;
    background-position: 38px -75px;
    background-size: 324px 324px;
    background-blend-mode: multiply;
}

#result-display-glassfx {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 104;
}

.result-display-glassfx-inactive {
    background: url("../images/predictor/orb-glassfx-inactive.png");
}

.result-display-glassfx-active {
    background: url("../images/predictor/orb-glassfx-active.png");
}

.result-display-glassfx-winner {
    background: url("../images/predictor/orb-glassfx-winner.png");
}

.result-display-glassfx-nonwinner {
    background: url("../images/predictor/orb-glassfx-nonwinner.png");
}

#song-selection {
    position: absolute;
    margin-top: 184px;
    margin-left: 72px;
    width: 300px;
    height: 35px;
    border-radius: 17.5px;
    align-self: center;
    text-align: center;
    overflow: hidden;
    z-index: 107;
}

#song-title {
    display: flex;
    width: 300px;
    height: 35px;
    padding: 5px;
    align-self: center;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

#song-title div {
    animation: song-title-mover 10s linear infinite;
}

.song-title-spacer {
    padding-left: 15px;
    padding-right: 15px;
}

#song-preview {
    position: absolute;
    width: 35px;
    height: 35px;
    margin-top: -35px;
    margin-left: 265px;
    pointer-events: all;
}

.song-preview-inactive {
    background: url("../images/predictor/orb-play-inactive.png");
}

.song-preview-pause {
    background: url("../images/predictor/orb-pause-active.png");
    cursor: pointer;
}

.song-preview-pause:hover {
    background: url("../images/predictor/orb-pause-hover.png");
}

.song-preview-play {
    background: url("../images/predictor/orb-play-active.png");
    cursor: pointer;
}

.song-preview-play:hover {
    background: url("../images/predictor/orb-play-hover.png");
}

#predict-button {
    position: absolute;
    margin-top: 252px;
    margin-left: 83px;
    pointer-events: all;
    width: 278px;
    height: 123px;
    z-index: 105;
    pointer-events: visiblePainted;
}

.predict-button-inactive {
    background: url("../images/predictor/orb-predict-inactive.png");
}

.predict-button-active {
    background: url("../images/predictor/orb-predict-active.png"); 
    cursor: pointer;
}

.predict-button-active:hover {
    background: url("../images/predictor/orb-predict-hover.png");
}

#predictor-body {
    position: absolute;
    margin-top: -25px;
    width: 444px;
    height: 400px;
    background: url("../images/predictor/orb-body.png");
    z-index: 106;
}

@keyframes song-title-mover {
    100% { 
        transform: translateX(-100%);  
    }
}

#artist-panel {
    width: 450px;
    height: 1000px;
    position: absolute;
    left: 0px;
    top: 100px;
    pointer-events: none;
    transition: top .5s;
}

#artist-tab {
    padding-left: 20px;
    width: 150px;
    padding-top: 1px;
    padding-bottom: 1px;
    pointer-events: all;
    cursor: pointer;
}

.artist-tab-active {
    background: darkgrey;
}

.artist-tab-inactive {
    background: darkgrey;
}

#artist-bg {
    height: 930px;
    width: 450px;
    pointer-events: all;
}

.artist-bg-active {
    background: darkgrey;
}

.artist-bg-inactive {
    background: darkgrey;
}

#song-panel {
    width: 450px;
    height: 1000px;
    position: absolute;
    right: 0px;
    top: 100px;
    pointer-events: none;
    transition: top .5s;
    align-content: flex-end;
}

#song-tab {
    padding-right: 20px;
    width: 150px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 300px;
    text-align: right;
    pointer-events: all;
    cursor: pointer;
}

.song-tab-active {
    background: darkgrey;
}

.song-tab-inactive {
    background: darkgrey;
}

#song-bg {
    height: 930px;
    width: 450px;
    pointer-events: all;
}

.song-bg-active {
    background: darkgrey;
}

.song-bg-inactive {
    background: darkgrey;
}

.list-panel {
    position: absolute;
    background: lightgrey;
    padding-left: 20px;
    padding-top: 20px;
    width: 410px;
    height: 890px;
    margin: 20px;
}

.list-panel input {
    width: 185px;
}

.list-panel ul {
    height: 825px;
    overflow-y: auto;
    /* list-style: none; */
}

.selected {
    background: cyan;
}

.front {
    z-index: 10;
}


@media (max-width: 1250px) {
    .prediction-container {
        width: 900px;
        transition: width .5s;
    }

    #artist-panel {
        top: 350px;
        transition: top .5s;
    }

    #song-panel {
        top: 350px;
        transition: top .5s;
    }
}

@media (max-width: 900px) {
    .prediction-container {
        width: 500px;
        transition: width .5s;
    }

    .artist-tab-inactive {
        background: grey;
    }

    .artist-bg-inactive {
        background: grey;
    }

    .song-tab-inactive {
        background: grey;
    }

    .song-bg-inactive {
        background: grey;
    }
}

