/* ========================================== */
/* ===|               PAGE               |=== */
/* ========================================== */
html {
    background: rgb(14, 19, 29);
}

.nav-container {
    margin: 0 auto;
    width: 100%;
    min-width: 578px;
    max-width: 1358px;
    transition: width .5s;
    position: relative;
}

.prediction-container {
    margin: 0 auto;
    /* margin-top: 50px; */
    width: 100%;
    height: 1000px;
    min-width: 578px;
    max-width: 1358px;
    transition: width .5s;
    position: relative;
    /* display: flex; */
    justify-content: center;
    overflow: hidden;
}


/* ========================================== */
/* ===|          PREDICTION ORB          |=== */
/* ========================================== */
/* Main shell */
#predict {
    width: 444px;
    height: 400px;
    /* background-image: url("../images/predictor/orb-body.png"); */
    z-index: 100;
    overflow: hidden;
    pointer-events: none;
    margin: 0 auto;
}

/* Top glass display */
/* Backgroud */
#result-display {
    position: absolute;
    width: 400px;
    height: 200px;
    margin-left: 22px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    overflow: hidden;
    background-position: 38px -75px;
    background-size: 324px 324px;
    background-blend-mode: multiply;
}

/* Glow FX & result text */
#result-display-glassfx {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 104;
}

.result-display-glassfx-inactive {
    background: url("../images/predictor/orb-glassfx-inactive.png");
}

.result-display-glassfx-active {
    background: url("../images/predictor/orb-glassfx-active.png");
}

.result-display-glassfx-winner {
    background: url("../images/predictor/orb-glassfx-winner.png");
}

.result-display-glassfx-nonwinner {
    background: url("../images/predictor/orb-glassfx-nonwinner.png");
}

/* Display for selected artist and song */
#song-selection {
    position: absolute;
    margin-top: 184px;
    margin-left: 72px;
    width: 300px;
    height: 35px;
    border-radius: 17.5px;
    align-self: center;
    text-align: center;
    overflow: hidden;
    z-index: 107;
}

#song-title {
    display: flex;
    width: 300px;
    height: 35px;
    padding: 5px;
    align-self: center;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

#song-title div {
    animation: song-title-mover 10s linear infinite;
}

.song-title-spacer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Play/Pause button */
#song-preview {
    position: absolute;
    width: 35px;
    height: 35px;
    margin-top: -35px;
    margin-left: 265px;
    pointer-events: all;
}

.song-preview-inactive {
    background: url("../images/predictor/orb-play-inactive.png");
}

.song-preview-play {
    background: url("../images/predictor/orb-play-active.png");
    cursor: pointer;
}

.song-preview-play:hover {
    background: url("../images/predictor/orb-play-hover.png");
}

.song-preview-pause {
    background: url("../images/predictor/orb-pause-active.png");
    cursor: pointer;
}

.song-preview-pause:hover {
    background: url("../images/predictor/orb-pause-hover.png");
}

/* Prediction button on the bottom of the orb */
#predict-button {
    position: absolute;
    margin-top: 252px;
    margin-left: 83px;
    pointer-events: all;
    width: 278px;
    height: 123px;
    z-index: 105;
    pointer-events: visiblePainted;
}

.predict-button-inactive {
    background: url("../images/predictor/orb-predict-inactive.png");
}

.predict-button-active {
    background: url("../images/predictor/orb-predict-active.png"); 
    cursor: pointer;
}

.predict-button-active:hover {
    background: url("../images/predictor/orb-predict-hover.png");
}

/* Main body of the predictor orb */
#predictor-body {
    position: absolute;
    margin-top: -25px;
    width: 444px;
    height: 400px;
    background: url("../images/predictor/orb-body.png");
    z-index: 106;
}

@keyframes song-title-mover {
    100% { 
        transform: translateX(-100%);  
    }
}


/* ========================================== */
/* ===|           ARTIST PANEL           |=== */
/* ========================================== */
/* Overall panel container */
#artist-panel {
    width: 450px;
    height: 600px;
    position: absolute;
    left: 0px;
    top: 100px;
    /* remove pointer events so that the container
    can be clicked through to the inactive tab */
    pointer-events: none;
    transition: top .5s;
}

/* Just the tab on the top */
#artist-tab {
    position: absolute;
    left: 22px;
    width: 154px;
    height: 60px;
    pointer-events: all;
    z-index: 2;
}

.artist-tab-active {
    background: url("../images/predictor/artist-tab-active.png");
}

.artist-tab-inactive {
    background: url("../images/predictor/artist-tab-active.png");
}

/* The panel below the tab */
#artist-bg {
    position: absolute;
    top: 22px;
    left: 8px;
    height: 565px;
    width: 489px;
    z-index: 1;
    pointer-events: none;
}

.artist-bg-active {
    background: url("../images/predictor/artist-panel-active.png");
}

.artist-bg-inactive {
    background: url("../images/predictor/artist-panel-active.png");
}



/* ========================================== */
/* ===|            SONG PANEL            |=== */
/* ========================================== */
/* Overall panel container */
#song-panel {
    width: 450px;
    height: 600px;
    position: absolute;
    right: 0px;
    top: 100px;
    /* remove pointer events so that the container
    can be clicked through to the inactive tab */
    pointer-events: none;
    transition: top .5s;
}

/* Just the tab on the top */


#song-tab {
    position: absolute;
    right: 22px;
    width: 154px;
    height: 60px;
    pointer-events: all;
    z-index: 2;
}

.song-tab-active {
    background: url("../images/predictor/song-tab-active.png");
}

.song-tab-inactive {
    background: url("../images/predictor/song-tab-active.png");
}

/* The panel below the tab */


#song-bg {
    position: absolute;
    top: 22px;
    right: 0px;
    height: 565px;
    width: 489px;
    z-index: 1;
    pointer-events: none;
}

.song-bg-active {
    background: url("../images/predictor/song-panel-active.png");
}

.song-bg-inactive {
    background: url("../images/predictor/song-panel-active.png");
}


/* ========================================== */
/* ===|           PANEL SHARED           |=== */
/* ========================================== */
/* The list is the same styling for both song
and artist. */
.list-panel {
    position: absolute;
    margin-top: 58px;
    margin-left: 55px;
    width: 410px;
    height: 490px;
    pointer-events: all;
}

/* Currently the input field and the button
are the same width.  Will change if there
is time. */
.list-panel input {
    width: 185px;
}

.list-panel ul {
    margin-top: 10px;
    height: 410px;
    width: 370px;
    /* color: rgb(138, 255, 255); */
    overflow-y: auto;
    /* list-style: none; */
}

.list-panel ul li {
    cursor: pointer;
}

.list-panel ul li:hover {
    background-color: rgba(50, 255, 255, .5);
}

.selected {
    font-weight: bold;
    background-color: cyan;
    color: black;
}

.front {
    z-index: 10;
}


/* ========================================= */
/* ===|          MEDIA QUERIES          |=== */
/* ========================================= */
/* Artist and song panels start out at the 
sides of the orb */

/* On smaller displays, the panels collapse
below the orb, but both are still fully visible */
@media (max-width: 1358px) {
    .prediction-container {
        width: 978px;
        transition: width .5s;
    }

    #artist-panel {
        top: 350px;
        transition: top .5s;
    }

    #song-panel {
        top: 350px;
        transition: top .5s;
    }
}

/* On even smaller displays, the panels collapse
and overlap each other.  Both tabs are still
visible and can be clicked to change the active,
in-front panel.  (see above for active and
inactive panel classes) */
@media (max-width: 978px) {
    .prediction-container {
        width: 578px;
        transition: width .5s;
    }

    .artist-tab-inactive {
        background: url("../images/predictor/artist-tab-inactive.png");
    }

    .artist-tab-inactive:hover {
        background: url("../images/predictor/artist-tab-hover.png");
        cursor: pointer;
    }

    .artist-bg-inactive {
        background: url("../images/predictor/artist-panel-inactive.png");
    }

    .song-tab-inactive {
        background: url("../images/predictor/song-tab-inactive.png");
    }

    .song-tab-inactive:hover {
        background: url("../images/predictor/song-tab-hover.png");
        cursor: pointer;
    }

    .song-bg-inactive {
        background: url("../images/predictor/song-panel-inactive.png");
    }
}

