html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(14, 19, 29);
}

select {
    /* display: block; */
    width: 100%;
    padding: 8px;
    color: #8e979f;
    outline: none;
}

#site-head-container {
    position: relative;
    text-align: center;
    align-content: center;
    
}

#table-container {
    overflow: auto;
}

#site-head-image {
    transform: translate(10%, -10%);
}

#site-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-20%, 44%);
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
}

.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 130px;
    overflow: auto;
}

.parallax {
    position: relative;
    height: 400px;
    padding: 20px;
    margin: 0 auto;
    background: black;
    background-image: url("../images/abstract-q-c-1920-550-3.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
}

.parallax h1 {
    padding-top: 180px;
}