<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clever Audio - Data</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top px-5">

            <a class="navbar-brand" href="index.html">
                <div id="site-head-container">
                    <img id="site-head-image" src="../static/images/cleveraudio.png" height="40px" alt="">
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="predictor.html">Predictor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="data.html">Data</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                            <div class="dropdown-menu navbar-custom" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" target="_blank"
                                    href="https://www.grammy.com/recording-academy">Official Grammy Site</a>
                                <a class="dropdown-item" target="_blank"
                                    href="https://www.grammy.com/musicares">Musicares - Recording Academy Charity
                                    Page</a>
                                <a class="dropdown-item" target="_blank"
                                    href="https://www.grammy.com/musicares/donations">Donate to Musicares</a>
                                <a class="dropdown-item" target="_blank"
                                    href="https://www.grammy.com/grammys/awards/hall-of-fame">Grammy Hall of Fame</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apidocs" target="_blank"><span class="badge badge-dark">API
                                1.0.0</span></a>
                    </li>
                </ul>

            </div>

        </nav>

    </div>

    <div class="container-fluid" style="padding-top: 90px">
        <!-- Begin unique pages -->

        <div class="container-fluid" style="padding-top: 90px">
            <!-- Begin unique pages -->
            <div class="row mx-md-4">
                <div class="col-lg-12">
                    <aside class="filters">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>Data used in Machine Learning</h2>
                                        <hr>
                                    </div>
                                </div>
                                <form>
                                    <div class="row">
                                        <div class="col-lg-2 col-md-6">
                                            <label for="Artist">Enter a Artist Name</label>
                                            <br>
                                            <select id="Artist" class="artist">
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-6">
                                            <label for="Track">Enter a Song Name</label>
                                            <br>
                                            <select id="Track" class="track">
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 text-right">
                                            <div class="btn-group p-2">
                                                <button id="filter-btn" type="submit"
                                                    class="btn btn-secondary border-dark">Search</button>
                                                <button id="reset-btn" type="reset"
                                                    class="btn btn-secondary border-dark">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div id="table-container" class="col-12 p-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
        <script type="text/javascript" src="static/js/data.js"></script>
        <hr>
        <hr>
</body>

<div class="fixed-bottom">
    <footer class="footer-copyright bg-secondary pt-1" style="height: 40px">
        <p class="text-light text-center"><small>© Team Clever Audio@Data Bootcamp - University of Minnesota, All
                Rights Reserved 2019</small>
        </p>
    </footer>
</div>

</html>