<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clever Audio - Home</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top px-5">

            <a class="navbar-brand" href="index.html">
                <div id="site-head-container">
                    <img id="site-head-image" src="../static/images/cleveraudio.png" height="40px" alt="">
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="data.html">Data</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                            <div class="dropdown-menu navbar-custom" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" target="_blank" href="#">Link 1</a>
                                <a class="dropdown-item" target="_blank" href="#">Link 2</a>
                                <a class="dropdown-item" target="_blank" href="#">Link 3</a>
                                <a class="dropdown-item" target="_blank" href="#">Link 4</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apidocs" target="_blank"><span class="badge badge-dark">API
                                1.0.0</span></a>
                    </li>
                </ul>

            </div>

        </nav>

    </div>

    <div class="container-fluid" style="padding-top: 90px">
        <!-- Begin unique pages -->

        <div class="row mx-md-4">
            <div class="card bg-white">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-8 col-sm-12">
                            <h2>Grammy Awards</h2>
                            <a href="https://www.grammy.com/grammys/videos" target="_blank">
                                <iframe class="float-left mx-4" width='480' height='360' frameborder='0' allowfullscreen
                                    src='https://player.ooyala.com/static/v4/stable/4.20.7/skin-plugin/iframe.html?ec=1ib2RuaDE6ZqtpFciCV7_v9NToA1C0pi&pbid=YjlhZDY1YzdkZDhlMGEzN2ZiMWU4OWI3&pcode=JldmY6KL4Ufi6F7wGSY0m3nayjID'></iframe>
                            </a>
                            <p>
                                Throughout history, the Earth’s climate has changed. In the last 650,000 years, there
                                were several cycles of glacial advance and retreat. However, climate has changed at an
                                accelerated rate since the mid-20th century. Much of this change is evident due to human
                                activity, and the burning of fossil fuels. Carbon dioxide and other gases traps heat.
                                The greenhouse gases causes the Earth to warm. Since the 19th century, the average
                                surface temperature has increased by 1.62 degrees Fahrenheit. </p>
                            <p>
                                There are various measurements to determine global warming and changes to the Earth.
                                Warming Oceans have increased by 0.4 degrees Fahrenheit since 1969. Ice sheets have also
                                decreased with Antartica loosing ice mass about three times in the last decade. Snow
                                cover in the Northern Hemisphere has also decreased in the past five decades with proof
                                from the satellites. Global sea level rose about 8 inches in the last century and is
                                increasing the rate every year. There has been a declining Arctic sea ice. And finally
                                another proof, is the acidity of surface ocean waters has increased. </p>
                            </p>
                            <p>
                                Global Warming has consequences for all people and industries. The capacity to offsets
                                changes through adaptation does not match the intensity of the changes shown through
                                extreme weather events, damage to infrastructure, changes to livelihoods, ecosystems,
                                and the health of individuals and communities.
                            </p>


                            For more resources, click on one of the news articles that change on the lower right hand of
                            this page. The three tabs on the upper right hand of this page shows more information. The
                            Dashboard page presents different graphics of climate. The Data page is a query enabled
                            search tool for the various stations tracking climate metrics. There are various search
                            options. The Resource page provides links to further research of websites and information
                            organized by Global Warming, Evidence, Fun Facts, and Solutions.
                            <p>

                            </p>
                            <footer class="blockquote-footer">Source: https://climate.nasa.gov/evidence/<cite
                                    title="Source Title">[NASA]</cite></footer>

                            <p>
                            </p>
                            <footer class="blockquote-footer">Source: https://www.climate.gov/<cite
                                    title="Source Title">[NOAA]</cite></footer>
                            <p>
                            </p>
                            <footer class="blockquote-footer">Source:
                                https://www.ncdc.noaa.gov/climate-information/climate-change-and-variability/<cite
                                    title="Source Title">[NOAA]</cite></footer>
                            <p>
                            </p>
                            <footer class="blockquote-footer">Top center photo: Global Climate Report - February
                                2019<cite title="Source Title">[https://www.ncdc.noaa.gov/sotc/global/201902]</cite>
                            </footer>
                            <p>
                            </p>
                            <footer class="blockquote-footer">Upper left corner photo: Warming Ocean<cite
                                    title="Source Title">[https://climate.nasa.gov/evidence/]</cite></footer>
                            <p>
                            </p>
                            <footer class="blockquote-footer">Upper Right corner photo: Declining Arctic sea ice<cite
                                    title="Source Title">[https://climate.nasa.gov/evidence/]</cite></footer>
                            <p>
                            </p>
                            <footer class="blockquote-footer">Lower Right corner photo: A blanket around the Earth<cite
                                    title="Source Title">[https://climate.nasa.gov/causes/]</cite></footer>
                            <p>
                            </p>
                            <footer class="blockquote-footer">Lower Left corner photo: Ocean acidification<cite
                                    title="Source Title">[https://climate.nasa.gov/evidence/]</cite></footer>
                            <p>


                        </div>

                        <div id="visualizations-container" class="col-md-4">
                            <h2>Greatest Grammy Moments</h2>
                            <hr>
                            <div class="row">
                                <figure class="col-xl-6">
                                    <a href="https://climate.nasa.gov/internal_resources/39" target="_blank">
                                        <img class="image-fluid" src="https://climate.nasa.gov/internal_resources/39"
                                            width="100%" title="Warming Ocean" alt="Warming Ocean">
                                    </a>
                                </figure>
                                <figure class="col-xl-6">
                                    <a href="https://climate.nasa.gov/system/internal_resources/details/original/1163_Annual_ArcticSeaIceMin_Still.2012_print-320x240.jpg"
                                        target="_blank">
                                        <img class="image-fluid"
                                            src="https://climate.nasa.gov/system/internal_resources/details/original/1163_Annual_ArcticSeaIceMin_Still.2012_print-320x240.jpg"
                                            width="100%" title="Declining Arctic sea ice"
                                            alt="Declining Arctic sea ice">
                                    </a>
                                </figure>
                                <figure class="col-xl-6">
                                    <a href="https://climate.nasa.gov/system/content_pages/main_images/1_normPage-3.jpg"
                                        target="_blank">
                                        <img class="image-fluid"
                                            src="https://climate.nasa.gov/system/content_pages/main_images/1_normPage-3.jpg"
                                            width="100%" title="A blanket around the Earth"
                                            alt="A blanket around the Earth">
                                    </a>
                                </figure>
                                <figure class="col-xl-6">
                                    <a href="https://climate.nasa.gov/internal_resources/44" target="_blank">
                                        <img class="image-fluid" src="https://climate.nasa.gov/internal_resources/44"
                                            width="100%" title="Ocean acidification" alt="Ocean acidification">
                                    </a>
                                </figure>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h2>News</h2>
                                    <hr>
                                    <div id="carouselExampleIndicators" class="carousel slide col-md-12"
                                        data-ride="carousel">
                                        <div class="carousel-inner" id="carousel-inner">
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                            data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                            data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script type="text/javascript" src="static/js/news.js"></script>

</body>
<div class="bottom bg-secondary">
    <footer class="footer-copyright bg-secondary pt-1" style="height: 45px">
        <p class="text-light text-center"><small>© Team Clever.Audio@Data Bootcamp - University of Minnesota, All
                Rights Reserved 2019</small></p>
    </footer>
</div>

</html>