<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clever Audio - Home</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top px-5">

            <a class="navbar-brand" href="index.html">
                <div id="site-head-container">
                    <img id="site-head-image" src="../static/images/cleveraudio.png" height="40px" alt="">
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="predictor.html">Predictor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="data.html">Data</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                            <div class="dropdown-menu navbar-custom" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" target="_blank"
                                    href="https://www.grammy.com/recording-academy">Official Grammy Site</a>
                                <a class="dropdown-item" target="_blank"
                                    href="https://www.grammy.com/musicares">Musicares - Recording Academy Charity
                                    Page</a>
                                <a class="dropdown-item" target="_blank"
                                    href="https://www.grammy.com/musicares/donations">Donate to Musicares</a>
                                <a class="dropdown-item" target="_blank"
                                    href="https://www.grammy.com/grammys/awards/hall-of-fame">Grammy Hall of Fame</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apidocs" target="_blank"><span class="badge badge-dark">API
                                1.0.0</span></a>
                    </li>
                </ul>

            </div>

        </nav>

    </div>

    <div class="container-fluid p-0" style="padding-top: 90px">
        <!-- Begin unique pages -->

        <div class="wrapper">
            <!-- Parallax Banner -->
            <div class="parallax text-center text-light">
                <h1>Clever Audio</h1>
            </div>

            <div class="row text-light p-5 m-0">
                <div class="col-12">
                    <h1>Intro</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis lacus lorem, ac
                        sollicitudin magna cursus tristique. Vestibulum eros nibh, hendrerit at mi ut, feugiat tristique
                        magna. Aliquam ac maximus mauris. Mauris tempor maximus ex, pulvinar ornare elit interdum ac.
                        Mauris feugiat, arcu et posuere faucibus, lectus urna tristique mi, ut tristique orci leo at
                        enim. Aenean sed blandit est, ut pharetra orci. Pellentesque sit amet finibus lectus, non
                        viverra mauris. Nunc blandit mollis odio, sed feugiat nibh finibus id. Pellentesque non lorem
                        erat. Nulla a laoreet eros. Vivamus hendrerit, nulla vel rutrum suscipit, urna odio scelerisque
                        eros, ut lacinia neque est quis elit. Nullam finibus urna erat, vitae dapibus tortor suscipit
                        quis. Suspendisse vel neque ac dolor dignissim vulputate at eget ligula. Curabitur vel sapien
                        sed lectus semper porta in at eros.
                    </p>
                    <h1>Grammy Awards</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis lacus lorem, ac
                        sollicitudin magna cursus tristique. Vestibulum eros nibh, hendrerit at mi ut, feugiat tristique
                        magna. Aliquam ac maximus mauris. Mauris tempor maximus ex, pulvinar ornare elit interdum ac.
                        Mauris feugiat, arcu et posuere faucibus, lectus urna tristique mi, ut tristique orci leo at
                        enim. Aenean sed blandit est, ut pharetra orci. Pellentesque sit amet finibus lectus, non
                        viverra mauris. Nunc blandit mollis odio, sed feugiat nibh finibus id. Pellentesque non lorem
                        erat. Nulla a laoreet eros. Vivamus hendrerit, nulla vel rutrum suscipit, urna odio scelerisque
                        eros, ut lacinia neque est quis elit. Nullam finibus urna erat, vitae dapibus tortor suscipit
                        quis. Suspendisse vel neque ac dolor dignissim vulputate at eget ligula. Curabitur vel sapien
                        sed lectus semper porta in at eros.
                    </p>
                </div>

                <div class="row">
                <div class="col-6">
                        <h2>Featured Grammy Moment</h2>
                        <div style="padding-top: 25px">
                        <a href="https://www.grammy.com/grammys/videos" target="_blank">
                            <iframe class="float-left mx-4" width='560' height='360' frameborder='0' allowfullscreen
                                src='https://player.ooyala.com/static/v4/stable/4.20.7/skin-plugin/iframe.html?ec=1ib2RuaDE6ZqtpFciCV7_v9NToA1C0pi&pbid=YjlhZDY1YzdkZDhlMGEzN2ZiMWU4OWI3&pcode=JldmY6KL4Ufi6F7wGSY0m3nayjID'></iframe>
                        </a>
                        </div>
                </div>
                <div class="col-6">
                    <h2>News</h2>
                    <hr>
                    <div id="carouselExampleIndicators" class="carousel slide col-md-12" data-ride="carousel">
                        <div class="carousel-inner" id="carousel-inner">
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                </div>
            </div>

            <!-- Bottom Parallax Banner -->
            <div class="parallax"></div>
        </div>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script type="text/javascript" src="static/js/news.js"></script>

</body>
<div class="bottom bg-dark">
    <footer class="footer-copyright bg-dark pt-1" style="height: 45px">
        <p class="text-light text-center"><small>© Team Clever.Audio@Data Bootcamp - University of Minnesota, All Rights
                Reserved 2019</small></p>
    </footer>
</div>

</html>