<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Clever Audio - Predictor</title>

        
        <script src="../static/js/jquery-3.4.1.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

        <!-- Predictor -->
        <link rel="stylesheet" href="../static/css/predictor.css">
        <script src="../static/js/predictor.js"></script>
    </head>


    <body>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top px-5">
    
                <a class="navbar-brand" href="index.html">
                    <div id="site-head-container">
                        <img id="site-head-image" src="../static/images/cleveraudio.png" height="40px" alt="">
                    </div>
                </a>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="predictor.html">Predictor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="data.html">Data</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                                <div class="dropdown-menu navbar-custom" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" target="_blank"
                                        href="https://www.grammy.com/recording-academy">Official Grammy Site</a>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://www.grammy.com/musicares">Musicares - Recording Academy Charity
                                        Page</a>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://www.grammy.com/musicares/donations">Donate to Musicares</a>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://www.grammy.com/grammys/awards/hall-of-fame">Grammy Hall of Fame</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/apidocs" target="_blank"><span class="badge badge-dark">API
                                    1.0.0</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- END NAVBAR -->

        <div class="prediction-container">
            <div id="predict">
                <div id="result">
                    <img id="song-image" width="400px">
                    <h4 id="result-display">Loading...</h4>
                    <br>
                </div>
                <div id="song-selection">
                    <div id="song-title">
                        <div id="song-title-one"><span class="artist-display">Select an Artist</span><span> - </span><span class="song-display">Select a Song</span><span class="song-title-spacer">|</span></div>
                        <div id="song-title-two"><span class="artist-display">Select an Artist</span><span> - </span><span class="song-display">Select a Song</span><span class="song-title-spacer">|</span></div>
                        <div id="song-title-three"><span class="artist-display">Select an Artist</span><span> - </span><span class="song-display">Select a Song</span><span class="song-title-spacer">|</span></div>
                    </div>
                    <div id="song-preview" class="song-preview-inactive">
                        <audio id="song-audio"></audio>
                    </div>
                </div>
                <div id="predict-button-container">
                    <!-- <h1>PREDICT</h1> -->
                    <button id="predict-button" class="predict-button-inactive"><h1>PREDICT</h1></button>
                </div>
            </div>

            <div id="artist-panel" class="front">
                <div id="artist-tab" class="artist-tab-active">
                    <h4>ARTIST</h4>
                </div>
                <div id="artist-bg" class="artist-bg-active">
                    <div class="list-panel">
                        <form id="artist-input-form">
                            <input id="artist-input" type="text"><input id="artist-input-submit" type="submit" value="Search">
                        </form>
                        <ul id="artist-list">
                        </ul>
                    </div>
                </div>
            </div>

            <div id="song-panel">
                <div id="song-tab" class="song-tab-inactive">
                    <h4>SONG</h4>
                </div>
                <div id="song-bg" class="song-bg-inactive">
                    <div class="list-panel">
                        <form id="song-input-form">
                            <input id="song-input"><input id="song-input-submit" type="submit" value="Search">
                        </form>
                        <ul id="song-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </body>

</html>